<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>Resultado questão 2</title>
</head>
<body>
    <header>
        <h1 class="title" style="margin: 1em">Resultado do Simulador de Empréstimo Pessoal</h1>
    </header>
    <main>
        <div class="box">
            <p><strong>Valor do empréstimo: </strong> R$ {{valor_emprestimo}}</p>
            <p><strong>Taxa de juros ao mês: </strong>{{taxa}}%</p>
            <p><strong>Número de parcelas: </strong>{{n_parcelas}}</p>
            <p><strong>Montante: </strong>R$ {{montante}}</p>
            <p><strong>Valor mensal das parcelas: </strong>R$ {{parcela}}</p>
        </div>
    </main>
</body>
</html>