<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>Questão 1</title>
</head>
<body style="margin: 1em">
    <header>
        <h1 class="title">Simulador de Conta de Energia Elétrica</h1>
    </header>
    <main>
        <h2 style="margin: 1em">Informe o valor do consumo em kWh (quilowatt-hora)</h2>

        <form action="resultado1/" style="margin: 1em">
            <input type="number" name="consumo" class="input is-normal" style="margin-bottom: 1em">
            <button type="submit" class="button is-success">Calcular</button>
        </form>
    </main>
</body>
</html>